{% load staticfiles %}
<!--DOCTYPE html -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block head_title %}Try Django 1.9{% endblock head_title %}</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- tryddjango css -->
    <link rel='stylesheet' href='{% static "css/base.css" %}'>
</head>
<body>
    {% include "messages_display.html" %}
    <div class="container">
        {% block content %}
            <h1>{{ title }} is working!</h1>
        {% endblock content %}
    </div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
