{% extends "base.html" %}
{% load urlify %}

{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}

{% block content %}
    <div class='col-sm-12'>
        {% if instance.image %}
            <img src='{{ instance.image.url }}' class='img-responsive'>
        {% endif %}
        <h1>{{ title }} <small>{% if instance.draft %} <span style="color:red;">Draft</span> {% endif %}{{ instance.publish }}</small>
        </h1>
        <div class='post-detail-item'>{{ instance.get_markdown }}</div>

        {% if instance.user.get_full_name %}
            <p>Author: {{ instance.user.get_full_name }}</p>
        {% endif %}

        <p class='lead'>Comments</p>
        {% for comment in comments %}
            <blockquote>
                <p>{{ comment.content }}</p>
                <footer>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago</footer>
            </blockquote>
        {% endfor %}
        <hr>
    </div>
{% endblock content %}
